/ejemploguia10/nbproject/private/
/ejemploguia10/build/
/ejemploguia10/dist/
/Ejercio01/nbproject/private/
/Ejercio01/build/
/Ejercicio02/nbproject/private/
/Ejercio01/dist/
/Ejercicio02/build/
/Ejercicio03/nbproject/private/
/Ejercicio03/build/
/Ejercicio04/nbproject/private/
/Ejercicio04/build/
/Ejercicio05/nbproject/private/
/Ejercicio05/build/
/Ejercicio06/nbproject/private/
/Ejercicio06/build/
/UnDomino/nbproject/private/
/UnDomino/build/
/UnDomino/dist/
/EExtras01/nbproject/private/
/EExtras01/build/
/EExtras02/nbproject/private/
/EExtras02/build/
/EExtras03/nbproject/private/
/EExtras03/build/
/EExtras04/nbproject/private/
/EExtras04/build/
/ConsolaVacia/nbproject/private/
/ConsolaVacia/build/
/ConsolaVacia/dist/
/MExtras01/nbproject/private/
/MExtras01/build/
/AgTel/nbproject/private/
/AgTel/build/
/MExtras01/dist/
/MExtras02/nbproject/private/
/MExtras02/build/
